.grocerylist-container {
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grocerylist-container ul {
    list-style-type: none;
    border: 2px solid red;
    text-align: center;
}

.grocerylist-container h3 {
    border: 2px solid pink;
    text-align: center;
}

.grocery-text {
    margin-right: 5px;
}

.grocerylist-container button {
    border: 1px solid green;
    margin: 3px;
}