.grocerylist-container {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grocerylist-container ul {
    list-style-type: none;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grocerylist-container h3 {
    /* border: 2px solid pink; */
    text-align: center;
}

.grocerylist-container li {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
}

.grocery-text {
    margin-right: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.grocerylist-container button {
    border-style: none;
    border-radius: 5px 5px;
    margin: 5px;
    color: white;
    padding: 10px 10px;

}

.grocerylist-container button:hover {
    height: 34px;
    background-color: gray;
}

.purchase-button {
    background-color: rgba(104, 156, 94, 0.972);
}

.edit-button {
    background-color: #6577B3;
    width: 60px;
}

.delete-button {
    background-color: rgb(212, 105, 105);
    width: 60px;
}

.grocery-text-container {
    /* border: 3px solid green; */
    width: 150px;
    
}

.li-style {
    display: inline-block;
    font-size: 24px;
}

.li-style-isPurchased {
    text-decoration: line-through;
}